{{ template "header" }}
{{ template "navbar" }}
<main role="main" class="container">
    <div class="starter-template">
        <h1>Editing {{.Title}}</h1>
    </div>

    <form action="/save/{{.Title}}" method="POST">
        <div class="form-group">
            <textarea class="form-control" id="body" placeholder="Body" name="body" rows="20" cols="80">
            {{printf "%s" .Body}}
            </textarea>
        </div>
        <div class="text-center mb-2">
            <button type="submit" class="btn btn-info btn-lg">Save</button>
        </div>
    </form>
</main>

{{ template "footer" }}