{{ template "header" }}
{{ template "navbar" }}
<main role="main" class="container">

    <div class="row">
        <div class="col col-md">
            <h1>Your Quokis</h1>
        </div>
        <div class="col col-md">
            <a href="/edit/{{ .NewId }}" class="btn btn-danger btn-lg rounded-circle float-right">
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col col-md starter-template">
        {{range .ListOfTitles}}
            <p class="lead"><a href="/view/{{.Id}}">{{ .DisplayTitle}}</a></p>
        {{end}}
        </div>

    </div>

</main>

{{ template "footer" }}