{{template "header"}}
{{template "navbar"}}
<main role="main" class="container">

    <div class="row">
        <div class="col col-md">
            <h1>{{.Title}}</h1>
        </div>
        <div class="col col-md">
            <a href="#" class="btn btn-danger btn-lg rounded-circle float-right mr-2">
                <i class="fa fa-plus"></i>
            </a>

            <a href="/edit/{{.Title}}" class="btn btn-info btn-lg rounded-circle float-right mr-2">
                <i class="fa fa-edit"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col col-md">
        {{markDown .Body }}
        </div>

    </div>

</main>
{{ template  "footer"}}
